{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "useTabs": false,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 120,
  "tabWidth": 2,
  "semi": true
}
